<%- include("../partials/head") %>
<title>Anasayfa</title>
<%- include("../partials/navbar") %>
<%- include("../partials/header") %>
<%- include("../partials/hakkimizda-content") %>
<%- include("../partials/iletisim") %>
<%- include("../partials/footer") %>